@import "igemwiki-override";
@import "fonts";
@import "bourbon";
@import "neat";


$background-dark:   #1a1a1a;
$background-dark-1:   #202020;
$background-light:  #fffefb;
$background-light-1:  #f8f8f8;
/*$background-light:  #ffffff;*/
$accent-warm:       #eb0068;
$accent-warm-1:     #cd1e6b;
$accent-warm-2:     #b03b6f;
$accent-cold:       #6e5eff;
$accent-cold-1:     #7d72eb;
$accent-cold-2:     #8e86d7;
$accent-bright:     #00cef7;
$accent-bright-1:     #1fb9d8;
$accent-bright-2:     #3ea5b9;
$text-dark:           $background-dark;
$text-light:          $background-light;

//$link-color:                $accent-cold-1;

//$breakpoint: 1000px; // If the screen is under this width, switch to mobile view
$breakpoint: calc(20em + 76em); // If the screen is under this width, switch to mobile view
$breakpoint-navbar: 76em;

$font-family: 'Open Sans', sans-serif;
$font-size: medium;

@mixin common-style {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', cursive !important;
    font-size: $font-size !important;
    //font-weight: bold !important;
    letter-spacing: 0.15em;
    margin-bottom: 2em !important;
    margin-top: 1em !important;
    @media screen and (max-width: $breakpoint) {
      //text-align: center !important;
      //margin: auto 0;
      margin-right: 2em;
    }
  }
  h1 {
    font-size: 2.4em !important;
    margin-left: 1em !important;
  }
  h2 {
    font-size: 2em !important;
    margin-left: 2em !important;
  }
  h3 {
    font-size: 1.8em !important;
    margin-left: 4em !important;
  }
  h4 {
    font-size: 1.6em !important;
    margin-left: 4em !important;
  }
  h5 {
    font-size: 1.4em !important;
    margin-left: 4em !important;
  }
  h6 {
    font-size: 1.2em !important;
    margin-left: 4em !important;
  }

  p {
    color: $text-dark !important;
    font-family: $font-family !important;
    font-size: $font-size !important;
    line-height: 3em !important;
    margin: 2em 2em !important;
  }

  //Links
  a,
  a:visited {
    color: $accent-cold-1 !important;
    text-decoration: none !important;
    transition: color text-shadow .2s ease-in-out;

    &:hover {
      color: $accent-warm !important;
      text-shadow: 0 0 8px $accent-warm;
    }
  }

  //Images
  img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    width: auto;
  }

}

@mixin center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-text {
  text-align: center;
}

@mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@mixin shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@mixin shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin circular {
    border-radius: 50%;
}

@mixin block-height($height) {
    height: $height;
    line-height: $height;
}
