@import "common";
$grid-layout: ( columns: 1, gutter: 2rem, );
$grid-layout-media:( columns: 12, gutter: 2rem, media: $breakpoint);
// Use body, #mw-content-text to affect the whole page for both the wiki and the
// local build
main {
  @include common-style;
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: $accent-color;
  transition: all 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
    color: $accent-light-color;
    text-shadow: 0px 0px 8px $accent-light-color;
  }
}

img {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

main {
  @include grid-container;
  @include common-style;
  font-size: $font-size;
  font-family: $font-family;
  height: 100%;
  margin: 0 auto;
  height: auto;
  position: relative;
  background-color: $background-light-color;
  nav {
    @include grid-column(1, $grid-layout);
    margin: 2rem;
    @include grid-media($grid-layout-media) {
      @include grid-column(2);
    }
  }
  article {
    @include grid-column(1, $grid-layout);
    margin-bottom: 2rem;
    @include grid-media($grid-layout-media) {
      @include grid-column(10);
    }
  }
  &>* {
    background-size: cover;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
}

@import "pages/index";
@import "pages/team";
@import "header";
@import "scrollbar";
@import "tooltips";
@import "navline";
@import "footer";