@import 'common';

$nav-height: 4em; // Navbar height

$pgridp-layout: (
  columns: 1,
  gutter: 0
);

$grid-layout-media: (
  columns: 16,
  //gutter: 2rem,
  gutter: 0,
  media: $breakpoint
);

body {
  margin: 0;
}

.banner {
  margin-top: $nav-height + 1em;
  max-width: 100%;
}

//Overview page layout
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;

}

.grid-selection {
  @include shadow-1;
  height: 500px;
  margin: 10px;
  padding: 20px;
  position: relative;
  width: 350px;

  p {
    border: hidden;
    bottom: 70px;
    display: inline-block;
    margin-left: 3em;
    padding: 15px 32px;
    position: absolute;
    text-align: left;
  }


  //Button for Overview
  a.buttonoverview {
    background-color: $accent-cold-1;
    border: hidden;
    bottom: 30px;
    color: $text-light !important;
    cursor: pointer;
    display: inline-block;
    margin-left: 3em;
    padding: 15px 32px;
    position: absolute;
  }

  .buttonoverview:hover {
    @include shadow-2;
  }
}


//The main styling for the "meat" and content of our wiki
main {
  @include common-style;
  background-color: $background-light-1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // @media screen and (max-width: $breakpoint) {
  //   flex-direction: column;
  // }
  font-family: $font-family;
  font-size: $font-size;
  height: auto;
  justify-content: right;
  line-height: normal;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  z-index: 1;

//Styling for tables

  table, th,td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  #parts tr:nth-child(even){
    background-color: #f2f2f2;
  }
  #parts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: $accent-cold-2;
    color: white;
}

  .overview {
    flex: 0 1 auto;
  }

  q {
    font-family: 'Raleway', sans-serif !important;
    display: block;
    font-weight: bold;
    padding-left: 4em;

    &::before {
      content: '“';
    }

    &::after {
      content: '”';
    }
  }

  article {
    &.main-content {
      flex: 0 1 65em;
      @media screen and (min-width: $breakpoint) {
        padding-top: $nav-height + 2em;
      }
      @media screen and (max-width: $breakpoint) {
        padding: 0 auto;
      }
      text-align: justify;

      & > p {
        &::first-letter {
          font-size: 1.3em;
          font-family: 'Raleway', serif !important;
          //margin-right: -0.05em;
        }
      }

      ul {
        list-style-type: circle;
        margin: 2em 2em;
        li {
          line-height: 1.5em;
          margin: 0.5em 1em;
        }
      }
      ol {
        list-style-type: decimal;
        margin: 2em 2em;
        li {
          line-height: 1.5em;
          margin: 0.5em 1em;
        }
      }
      img,
      figure {
        //width: 30em;
        //margin-left: 5em;
        //transform: translateY(-50%);
        clear: both;
        flex: 0 0 30em;
        float: right;
        padding: 5px;
        position: relative;

      }

      //adding captions
      figure {
        display: table;
        margin: 0;
        margin-left: 3em;
        padding: 5px;
      }

      figcaption {
        font-family: 'Raleway', serif !important;
        caption-side: bottom;
        display: table-caption; 
        font-style: italic;
        padding: 10px;
        text-align: center;
      }
    }
  }

  & div.gutter {
    @media screen and (min-width: $breakpoint) {
      flex: 1;
    }
  }

  &>* {
    background-size: cover;
  }
}

blockquote {
  p {
    font-family: 'Raleway', sans-serif !important;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 1.3em !important;
  }
}

@import 'pages/index';
@import 'pages/team';
@import 'pages/attributions';
@import 'pages/notebook';
@import 'header';
@import 'scrollbar';
@import 'tooltips';
@import 'navline';
@import 'footer';
@import 'interactive';
