<main id="top">
  {{> navline}}
  <article class="main-content"></article>
  <script>
    $(function() {
      $('article.main-content').load('{{contentpath}}');
    });
  </script>
  <div class="gutter"></div>
</main>
