<main id="top">
  <div class="gutter-small"></div>
  <article id="main-content"></article>
  <script>
    $(function() {
      $('article#main-content').load('{{contentpath}}');
    });
  </script>
  <div class="gutter-small"></div>
</main>
