<nav>
  <div id="line">
    <li>
      Home
    </li>
    <li>
      Project
      <ul>
        <li>Description</li>
        <li>Design</li>
        <li>Experiments</li>
        <li>Notebook</li>
        <li>Modeling</li>
        <li>
          Results
          <ul>
            <li>Overview</li>
            <li>Demonstrate</li>
            <li>Improve</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      Software
    </li>
    <li>
      Human Practices
      <ul>
        <li>Public Engagement</li>
        <li>Collaborations</li>
      </ul>
    </li>
    <li>
      Awards
    </li>
  </div>
</nav>