<!--Taken from https://codepen.io/anon/pen/pZENMd-->

<h2>iGEM Timeline</h2>
<ul id='timeline'>
  <li class='work'>
    <input class='radio' id='work5' name='works' type='radio' checked>
    <div class="relative">
      <label for='work5'>Here's our project!</label>
      <span class='date'>Project</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        Project
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work4' name='works' type='radio'>
    <div class="relative">
      <label for='work4'>All the dang parts. </label>
      <span class='date'>Parts</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        Hey hey hey!
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work3' name='works' type='radio'>
    <div class="relative">
      <label for='work3'>Gotta stay safe in the workplace?</label>
      <span class='date'>Safety</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        We have the safest lab practices!
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work2' name='works' type='radio'>
    <div class="relative">
      <label for='work2'>Public Engagement and HP. </label>
      <span class='date'>Human Practices</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        See how we interact with our community! 
      </p>
    </div>
  </li>
  <li class='work'>
    <input class='radio' id='work1' name='works' type='radio'>
    <div class="relative">
      <label for='work1'>Meet the Team!</label>
      <span class='date'>Team</span>
      <span class='circle'></span>
    </div>
    <div class='content'>
      <p>
        See who's on the team. 
      </p>
    </div>
  </li>
</ul>