<nav>
  <div id="va-timeline">
    <h1>
      <a class="menubutton" onclick="openToc()">
        <i class="fa fa-bars"></i>
      </a>
      Timeline
    </h1>
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>
  </div>
</nav>
