main.landing-page {
    article {
    @include center-text;
    margin: 5em 2em;
    width: 100%;

    img {
        @include center-image;
    }

    section {
        width: 100%;
    }
  }
}
