main.landing-page {
  //display: flex;
  //flex-direction: column;
  //padding: 5em 2em;

  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;

  article {
    @include center-text;
    background-color: $background-light-1;
    display: flex;
    min-width: 100vw;
    position: relative;

    img {
      @include center-image;
    }

    section {
      position: relative;
      h1, h2, h3, h4, h5, h6 {
        @include center-text;
        margin: 1em !important;
      }
    }

    &.banner {
      flex: 1 0;
      background-color: $background-dark;
      color: $text-light;
      height: 100vh;
      //overflow: none;
      //padding-top: 15vh;

      transform: translateZ(-1px) scale(2);
      z-index: -1;

      section {
        background-color: $background-dark;
        //align-self: flex-start;
        flex: 1 3 auto;
        padding: $nav-height + 2em 0;
        margin: auto 0;
        position: relative;
        //display: flex;
        //flex: 1 0 auto;
        //top: 0;
      }
    }

    &.call-to-action {
      flex-wrap: wrap;

      section {
        color: $text-light;
        flex: 1 1;

        &:first-child {
          background-color: $accent-cold-1;
        }

        &:last-child {
          background-color: $accent-warm-1;
        }

        &.scroll-action {
          color: $text-dark;
          @media screen and (max-width: $breakpoint) {
            display: none;
          }
        }
      }
    }
  }
}
