.labjournal {
  // Remove our default margins on headers so the table isn't ridiculously overpadded
  h3 {
    font-size: 1.4em !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  // This is just be debugging, setting all dates to red. I needed to find a
  // selector that would owrk with the mess that is the lab notebook.
  // Ignore it.
  h3>.c53, h3>.c21, h3>.c3 {
    color: red;
  }

  // Here we're actually styling the table.
  table {
    // Give the whole table a black outline
    border: 1px solid black;
    // Make the table span the whole article in width
    width: 100%;

    // Style "headers" - the cells at the top of the table
    th {
      border: 1px solid black;
      padding: 1em;

      p {
        margin: 0 !important;
      }
    }

    // Style regular cells
    td {
      border: 1px solid black;
      padding: 1em;

      p {
        margin: 0 !important;
      }
    }
  }
}

nav {
  flex: 1 0;
  margin: 0 auto;
  max-width: 30em;

  #va-timeline {
    height: 75vh;
    padding: $nav-height + 3em 2em 1em 2em;
    position: sticky;
    top: 0;
    white-space: nowrap;

    h1 {
      font-size: 1.5em;
      margin: 1em 0 !important;
    }

    .menubutton {
      cursor: pointer;
      display: inline;
      padding-right: 2px;
    }

    $progressbar-width: 3px;
    $pip-size: 14px;

    .progress-container {
      height: 100%;
      width: $progressbar-width;
      position: relative;
    }

    .progress-bar {
      background-color: $accent-warm;
      height: 100%;
      width: 100%;
    }

    ul { // Primary ToC
      position: absolute;
      li { // First-level headers
        position: absolute;

        &::before {
          background-color: $background-dark;
          border-radius: 50%;
          border: 2px solid $background-light;
          content: '';
          display: inline-block;
          margin-right: 1em;
          min-height: $pip-size;
          min-width: $pip-size;
          z-index: 9;
        }

        a {
          font-size: 1.3em;
        }
      }
    }
  }
}
