#image_gallery, .team-bio{
  @include grid-container;
  //padding: 3% 5%;
  background-color: $background-light-1;
  overflow: hidden;
  position: relative;

  img {
    //@include shadow-2;
    @include circular;
    @include grid-column(4);
    clear: initial;
    cursor: pointer;
    height: 150px;
    margin: 10px;
    object-fit: cover;
    width: 150px;

    &:hover, &.visited {
      border: 1px solid $background-dark-1;
    }
  }

  a {
    display: block;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    p {
      display: none;
      font-size: 2em;
      left: 50%;
      margin-left: -.25em;
      margin-top: -.5em;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;
      //overlay text over
      z-index: 9;
    }

    &:hover img {
      //background-color: black;
      image-orientation: from-image;
      opacity: 0.10;
    }

    &:hover p {
      display: block;
    }

    img {
      @include circular;
      @include grid-column(4);
      image-orientation: from-image;
      margin-bottom: 25px;
      min-height: 90%;
      min-width: 90%;
      transition: opacity ease-in-out 0.2s, background-color ease-in-out 0.7s;
    }
  }
}

/*circular images for advisors*/
#advisor {
  //@include shadow-1;
  @include circular;
  clear: both;
  flex: 0 0 30em;
  float: right;
  height: 175px;
  margin: 10px;
  margin-left: 5em;
  object-fit: cover;
  position: relative;
  width: 175px;
}

.team-bio {
  box-shadow: 0 0 5px #999;
  color: $text-dark;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 2em;
  margin: 20px;
  padding: .25px;
  h4 {
    margin-left: 1em !important;
  }
}

.hidden {
  display: none;
}

.unhidden {
  display: inline;
}
