{{> header}}

<article class="banner">
  <section>
    <img src="/images/logos/dark.svg" alt="logo">
    <h3>Microbial Symphony</h3>
  </section>
</article>

<article class="call-to-action">

  <section>
    <div class="spacer" style="height: 40vh"></div>
    <div class="card">
      <h2>1.1</h2>
      <p>By transforming these cells with our own synthetic genes, we can produce proteins of interest. This is the foundational goal of biomanufacturing.</p>
      <img src="/images/landing_page/Plasmid-Gallery.svg">
    </div>
  </section>

  <section class="scroll-action">
    <div class="card" id="first-card">
      <h1>1. Background</h1>
      <p>These are normal <em>Escherichia coli.</em> cells. Given nutrients and space, they will grow, producing various proteins.</p>
    </div>
    <div class="spacer" style="height: 10vh"></div>
    <div class="petri">
    </div>
    <p>
      <strong>Strain:</strong> <span>Unmodified <em>E. coli</em></span>
    </p>
    <p>
      <strong>Division Time:</strong> <span>1 hour</span>
    </p>
    <p>
      <strong>Yield:</strong> <span>N/A</span>
    </p>
    <div class="spacer" style="height: 20vh"></div>
  </section>

  <section>
    <div class="spacer" style="height: 40vh"></div>
    <div class="card">
      <h2>1.2</h2>
      <p>
        An important component of these genes is their promoter, which determines how and when they are expressed. There are two common ways genes are induced in biomanufacturing; constitutive and inducible expression.
      </p>
    </div>
  </section>

</article>

<article id="constitutive-article">

  <section>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card" id="constitutive-card">
      <h3>2.1 Constitutive Promoters</h3>
      <!-- <img src="/images/landing_page/lp_wildtype.svg" alt="constitutive expression"></img> -->
      <p>Constitutive promoters result in constant expression. The primary benefit of this "system" is its inherent simplicity - expression will occur with no intervention. A cell will always be producing the protein of interest, from its first division to its last.</p>
      <!-- <button class="constitutive_button">Click to see it in action</button> -->
    </div>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>2.3</h3>
      <p>
        Very little protein of interest is produced because the colony isn't given the chance to mature - so many of the cells' resources are committed towards producing the protein that the colony's growth rate is reduced.
      </p>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>
  
  <section class="scroll-action">
    <div class="card">
      <h1>2. Constitutive Expression</h1>
      <p>These <em>E. coli</em> have been modified with a constitutively promoted gene of interest.</p>
    </div>
    <div class="sticky" tabIndex="-1">
      <div class="spacer" style="height: 10vh"></div>
      <div class="petri">
      </div>
      <p>
        <strong>Strain:</strong> <span><em>E. coli</em> with constitutive expression</span>
      </p>
      <p>
        <strong>Division Time:</strong> <span>3 hours</span>
      </p>
      <p>
        <strong>Yield:</strong> <span>Low</span>
      </p>
      <div class="spacer" style="height: 20vh"></div>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>

  <section>
    <div class="spacer" style="height: 100vh"></div>
    <div class="card">
      <h3>2.2</h3>
      <p>
        While this is appropriate for experimentation, when optimizing for biomanufacturing, constitutive promoters begin to show their flaws:
        Low yields.
      </p>
    </div>
  </section>
</article>

<article id="inducible-article">
  <section>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>3.1 Inducible Promoters</h3>
      <!-- <img src="/images/landing_page/lp_quorus.svg" alt="induced expression"></img> -->
      <p>Inducible promoters are an improvement over constitutive expression because they give the manufacturer a degree of control over the gene.</p>
    </div>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>3.3</h3>
      <!-- <img src="/images/landing_page/lp_quorus.svg" alt="induced expression"></img> -->
      <p>As you can see, this results in similar levels of expression to constitutive promoters, given a high enough concentration of inducer. Furthermore, because the colony does not express the gene before the inducer is added, growth happens as quickly as possible; gene expression can be delayed until the colony reaches full size.</p>
    </div>
  </section>
  <section class="scroll-action">
    <div class="card">
      <h1>3. Inducible Expression</h1>
      <p>These <em>E. coli</em> have been modified with an artificially inducible gene of interest.</p>
    </div>
    <div class="sticky" tabIndex="-1">
      <div class="spacer" style="height: 10vh"></div>
      <div class="petri">
      </div>
      <p>
        <strong>Strain:</strong> <span>Inducible <em>E. coli</em></span>
      </p>
      <p>
        <strong>Division Time:</strong> <span>1 hours</span>
      </p>
      <p>
        <strong>Yield:</strong> <span>High</span>
      </p>
      <div class="spacer" style="height: 20vh"></div>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>
  <section>
    <div class="spacer" style="height: 100vh"></div>
    <div class="card">
      <h3>3.2 Inducer</h3>
      <p>
        These promoters will only express the protein of interest in the presence of some inducer - such as the artificial inducer IPTG - is added to the culture or bioreactor.
      </p>
      <button class="inducible_button">Add some IPTG</button>
    </div>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>3.4</h3>
      <p>However, this requires intervention of the biomanufacturer or experimenter during the production cycle, and adds the cost of the inducer to production.</p>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>
</article>

<article id="wild-type">
  <section>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>4.1 Quorum Sensing Genes</h3>
      <p>Quorum Sensing is a natural phenomenon observed in many single-celled organisms. Quorum sensing results in gene expression once the bacterial colony has reached a certain density of cells, often called "colony size".</p>
    </div>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>4.3 Advantages</h3>
      <p>On paper, this is fantastic. No need to add an inducer because cells just make their own inducer; no need to add an expensive aritificial inducer. There are all the benefits of constitutive and inducible expression; cells are allowed to grow to a colony size appropriate for manufacturing before they begin expressing the gene of interest.</p>
      <p></p>
    </div>
    <div class="spacer" style="height: 30vh"></div>
    <div class="card">
      <h3>4.4 Additional Complications</h3>
      <p>In reality, there are a multitude of problems with quorum sensing.</p>
        <p>Because many quorum sensing molecules do not diffuse through the cell membrane, it is common for cells to have some method for amppfying the intracellular concentration of autoinducer. Most commonly, this is an autoinducer-specific transport protein; this protein is frequently also promoted by the autoinducer, resulting in rapid uptake once quorum is reached.</p>
    </div>
  </section>
  <section class="scroll-action">
    <div class="card">
      <h1>4. Quorum Sensing</h1>
      <p>These <em>E. coli</em> have been modified with a set of wild-type quorum sensing genes.</p>
    </div>
    <div class="sticky" tabIndex="-1">
      <div class="spacer" style="height: 10vh"></div>
      <div class="petri">
      </div>
      <p>
        <strong>Strain:</strong> <span>Wild-type quorum sensing <em>E. coli</em></span>
      </p>
      <p>
        <strong>Division Time:</strong> <span>1 hour</span>
      </p>
      <p>
        <strong>Yield:</strong> <span>Moderate</span>
      </p>
      <div class="spacer" style="height: 20vh"></div>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>
  <section>
    <div class="spacer" style="height: 100vh"></div>
    <div class="card">
      <h3>4.2 Mechanism</h3>
      <p>Fundamentally, the gene expression almost identically to inducible expression. Some small inducer molecule enters the cell and results in expression of a gene with a promoter corresponding to that inducer. The main difference is that strains that make use of quorum sensing produce their own <em>auto</em>inducer - resulting in a buildup of this autoinducer over time, and eventual, automatic gene expression.</p>
    </div>
    <div class="spacer" style="height: 140vh"></div>
    <div class="card">
        <p>The problem with this is activation frequency. Once quorum is reached, cells will very rapidly drain the extracellular medium of all autoinducer - starving a significant fraction of cells of autoinducer, and preventing them from reaching quorum.</p>
    </div>
    <div class="card">
        <p>In nature, this is an acceptable outcome, but for biomanufacturing, this limits the use and value of quorum sensing.</p>
    </div>
  </section>
</article>

<article>
  <section></section>
  <section>
    <p>
      All of these methods for gene expression seem to have drawbracks.
      <p>Constitutive expression results in low yields because the organism is not given time to reach a sufficient colony size.</p>
      <p>Inducible expression allows precise control of this growth before expression, but requires use of an expensive inducer molecule.</p>
      <p>Quorum sensing seems to be the best of both worlds - but the low wild-type activation rate again brings yields below levels that can be achieved with inducible expression.</p>
  </section>
  <section></section>
</article>

<article id="quorus-article">
  <section>
  </section>
  <section class="scroll-action">
    <div class="card">
      <h1 class="image">5. <span><img src="/images/logos/light.png" class="inline"></span></h1>
      <p>These <em>E. coli</em> have been modified with a set of wild-type quorum sensing genes.</p>
    </div>
    <div class="sticky" tabIndex="-1">
      <div class="spacer" style="height: 10vh"></div>
      <div class="petri">
      </div>
      <p>
        <strong>Strain:</strong> <span>Wild-type quorum sensing <em>E. coli</em></span>
      </p>
      <p>
        <strong>Division Time:</strong> <span>1 hours</span>
      </p>
      <p>
        <strong>Yield:</strong> <span>Moderate</span>
      </p>
      <div class="spacer" style="height: 20vh"></div>
    </div>
    <div class="spacer" style="height: 50vh"></div>
  </section>
  <section>
  </section>
</article>

{{> footer}}

<script>
 $(function() {
   $('header').load('/templates/header.html');
   $('footer').load('/templates/footer.html');
 });
</script>
