{{> header}}

<article class="banner">
  <section>
    <img src="/images/logos/dark.svg" alt="logo">
    <h3>Microbial Symphony</h3>
  </section>
</article>

<article class="call-to-action">

  <section>
    <div class="spacer" style="height: 130vh"></div>
    <div class="card">
      <p>By transforming these cells with our own plasmids, we can produce proteins of interest. This is the foundational goal of biomanufacturing.</p>
    </div>
    <div class="spacer" style="height: 50vh"></div>
    <div class="card">
      <h3>Constitutive Expression</h3>
      <!-- <img src="/images/landing_page/lp_wildtype.svg" alt="constitutive expression"></img> -->
      <p>This system involves hookin a gene of interest up to a constitutive promoter, resulting in constant expression. The primary benefit of this "system" is its inherent simplicity - expression will always just occur. However, when optimizing yields, a flaw in this system becomes evident; low yields.</p>
      <button class="constitutive_button">Click to see it in action</button>
    </div>
  </section>

  <section class="scroll-action">
    <div class="card" id="first-card">
      <h1>1. Background</h1>
      <p>These are normal Escheri coli cells. Given nutrients and space, they will grow, producing various proteins.</p>
    </div>
    <div class="sticky" tabIndex="-1">
      <div class="spacer" style="height: 10vh"></div>
      <div class="petri">
      </div>
      <p>
        <strong>Strain:</strong> Unmodified E. coli
      </p>
      <p>
        <strong>Division Time:</strong> 60 Minutes
      </p>
      <div class="spacer" style="height: 20vh"></div>
    </div>
      <div class="spacer" style="height: 20vh"></div>
  </section>

  <section>
    <div class="spacer" style="height: 150vh"></div>
    <div class="card">
      <h3>Inducible Expression</h3>
      <!-- <img src="/images/landing_page/lp_quorus.svg" alt="induced expression"></img> -->
      <p>This system involves hooking the gene in question up to an inducible promoter. Growth occurs an at an accelerated rate because no metabolic activity is put towards production. Once the culture has grown to an optimal density, an artificial inducer can be added, switching production on.</p>
      <button class="inducible_button">Click to see it in action</button>
    </div>
  </section>

</article>

{{> footer}}

<script>
 $(function() {
   $('header').load('/templates/header.html');
   $('footer').load('/templates/footer.html');
 });
</script>
