{{> header}}
<article class="banner">
  <section>
    <img src="/images/logos/dark_1.svg" class="center">
  <h3>Microbial Symphony</h3>
  </section>
</article>
<article class="call-to-action">
  <section>
    <h3>The Problem</h3>
  </section>
  <section class="scroll-action">
    <h1>Scroll Down</h1><h1>To</h1><h1>Learn More</h1>
  </section>
  <section>
    <h3>The Solution</h3>
  </section>
</article>
<article class="main-content">
  <section>
    <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta tellus non fringilla rhoncus. Pellentesque in arcu dignissim, consectetur neque eu, tristique diam. Nam vel rhoncus nibh. Vestibulum vel suscipit nibh. Integer placerat neque leo, non molestie lacus gravida in. Etiam tristique metus rhoncus sem fermentum, sit amet venenatis libero sodales. Suspendisse hendrerit tellus non tortor faucibus vestibulum. Morbi nulla purus, scelerisque quis cursus id, ullamcorper eget mi. Pellentesque diam ex, cursus vel pharetra vitae, rutrum non nisi. Proin a tellus mattis, luctus libero vel, aliquet diam. Fusce magna enim, venenatis non tempor at, sollicitudin sit amet felis.
    </p>

    <p>
Maecenas vulputate risus nec porta malesuada. Vivamus ac odio et magna viverra viverra eget eu est. Donec sit amet lorem ut arcu porta gravida ac sit amet nunc. Mauris iaculis sagittis euismod. Aenean ac eros at nibh congue dapibus. Etiam mollis facilisis scelerisque. Maecenas condimentum convallis malesuada. Cras vel elementum neque. Aenean eu porta nisl. Nulla facilisi. Donec feugiat nisl eu elit tincidunt pharetra. Morbi dictum quis magna nec commodo.
    </p>

    <p>
Pellentesque ac nibh faucibus justo iaculis aliquam vitae quis tellus. Vivamus placerat ac nunc id vulputate. Duis tincidunt urna neque, eget vulputate lectus vulputate quis. Phasellus pulvinar condimentum urna nec tincidunt. Proin congue urna dui, sed tempor ipsum dapibus in. Integer aliquam consequat leo, ac tempor risus placerat cursus. Ut eget lacinia dui, quis ultricies lacus. Phasellus porttitor condimentum ultricies. Aliquam efficitur libero in lacus ullamcorper rutrum. Duis eget dui sed massa posuere condimentum. Morbi vitae turpis nec ex pharetra commodo. Ut blandit diam vitae accumsan rutrum. Nullam eleifend, eros nec commodo congue, ante nibh fringilla nulla, ut fermentum nisi urna a nibh. Sed tempor, diam ac consectetur cursus, libero purus mollis nibh, vel sagittis velit mi ac augue.
    </p>

    <p>
Phasellus in mi ac orci vestibulum porta. Phasellus faucibus tincidunt dui, in rutrum metus posuere ac. Cras varius auctor porttitor. Mauris et risus porta augue ornare maximus vel at ipsum. Ut rutrum nibh elementum, dignissim leo suscipit, congue lacus. Cras eleifend a metus nec lacinia. Donec eget scelerisque quam, in facilisis erat. Vestibulum feugiat, lacus vitae placerat porttitor, magna velit vestibulum odio, vitae vulputate neque dui non eros. Proin facilisis lorem a leo consectetur, sit amet mattis elit ultricies. Nulla aliquet quam vel odio dictum suscipit. Maecenas elementum massa ut urna rhoncus, eget porta massa eleifend. Nullam ultrices non felis vitae egestas.
    </p>

    <p>
Fusce semper sollicitudin arcu, ac ultrices felis auctor nec. Proin et justo sollicitudin, efficitur ex ac, maximus ipsum. Quisque vitae vestibulum risus. Sed est neque, egestas in ullamcorper eleifend, commodo non magna. Etiam sem est, tincidunt non hendrerit auctor, sollicitudin sit amet lacus. Integer consequat sem sit amet sodales sodales. Ut metus urna, faucibus a orci eget, molestie rutrum lectus. Phasellus pellentesque aliquam erat eget laoreet. Donec blandit tincidunt ultricies. Duis sed semper ante. 
    </p>
  </section>
</article>
{{> footer}}

<script>
    $(function() {
    $('header').load('/templates/header.html');
    $('footer').load('/templates/footer.html');
    });
</script>
