<h1 id="lab-notebook">Lab notebook</h1>

<h3>Click<a href="http://2018.igem.org/wiki/images/c/ce/T--Virginia--2018_Virginia_IGEM_Protocol_Handbook.pdf" target="_blank"> here</a> to find a curated list of protocols Virginia iGEM has used and refined over the past few years!</h3> 

<h2 id="week-1">Week 1: 5/23-5/30</h2>
<ul class="c10 lst-kix_8m28c6w2jj4z-0 start">
  <li class="c0">
    <span class="c1">
      We focused on gathering starting materials and creating a synthesis and assembly plan for our system. This included created Ampicillin and Chloramphenicol antibiotic stock solutions, LB Broth, plates, and competent cell buffer. </span>
  </li>
</ul>
<h2 id="week-2">Week 2: 5/31-6/6</h2>
<ul class="c10 lst-kix_cf40poj75dhp-0 start">
  <li class="c0">
    <span class="c1">
      Building upon and finishing up the preliminary steps from last week, we successfully obtained DH5a competent cells and tested them on Ampicillin and Chloramphenicol plates yielding no growth showing no contamination. After a successful competency test, we transformed the bacteria with sfGFP, pLsrA, LsrR, and pT7 but yielded no growth on the plates. </span>
  </li>
</ul>
<h2 id="week-3">Week 3: 6/6-6/13</h2>
<ul class="c10 lst-kix_ghvcm7w6yngf-0 start">
  <li class="c0">
    <span class="c1">
      Continuing on our efforts from last week, we transformed and plated sfGFP, pLsrA, T7 RNA Polymerase, LsrR, and pT7 as well as ordered new primers for LsrK, LuxS, LsrACDB, YdgG and IDT DNA (LsrR + pLsrR + pLsrA). In addition, we successfully transformed and miniprepped B0017 terminator while growing out successful sfGFP, strong promoter + RBS, pT7, T7 RNA Polymerase, and psB4C5 colonies. </span>
  </li>
</ul>
<h2 id="week-4">Week 4: 6/13-6/20</h2>
<ul class="c10 lst-kix_chgrlq2wpasj-0 start">
  <li class="c0">
    <span class="c1">
      We ran a gel on T7 RNA polymerase cut with X/P, B0017 cut with X/P, sfGFP cut with E/S, pT7 cut with E/S, pSB4C5 cut with X/P, and strong RBS + Promoter cut with E/S. Through analyzing gel results, we figured that we got successful T7 RNA polymerase, sfGFP in pSB1C3, PT7, and strong RBS + promoter. Good but not fully conclusive results were obtained for B0017 and pSB4C5. On the 15th of June, we ran a gel on PCR-amplified YdgG and confirmed it was successful. </span>
  </li>
  <li class="c0">
    <span class="c1">
      This week also marked the beginning of our part synthesis. We assembled RBS + sfGFP, T7 + Term, RBS + YdgG, and RBS + LsrACDB. </span>
  </li>
</ul>
<h2 id="week-5">Week 5: 6/20-6/27</h2>
<ul class="c10 lst-kix_gr7nxb1kbnwc-0 start">
  <li class="c0">
    <span class="c1">
      We transformed pSB4A3, pSB4K3, and IDT-T7-Term. Furthermore, we attempted to run plasmid 1, consisting of LsrR + rbs + pLsr + rbs + T7 + term + pSB1K3, on a gel but it did not look good. `Although the gel we ran of the undigested plasmid 1 was not digested with enzymes, it still appeared much smaller than it was supposed to be (top image). Building upon this gel image, we decided to vary our digestion protocol by testing various digest buffers including cutsmart and 2.1. Cutsmart and 2.1 (left to right) produced around the same results, and the undigested plasmid (rightmost lane) was placed to compare.</span>
  </li>
</ul>
<img alt="" src="/images/LabJournal/image4.png" >
<img alt="" src="/images/LabJournal/image1.png" >
<ul class="c10 lst-kix_f5v9g7rqci97-0 start">
  <li class="c0">
    <span class="c1">
      This week we also transformed YFL, CFP, OFL, and PFP to create fluorescent plates. In addition, we performed PCRs on pSB1C3/A3/K3, PT7-RBS, and PT7-RBS-sfGFP. Gel /images/LabJournal showed that backbone PCRs were successful. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Interlab study was completed. </span>
  </li>
</ul>
<h2 id="week-6">Week 6: 6/27-7/4</h2>
<ul class="c10 lst-kix_uz044g478mri-0 start">
  <li class="c0">
    <span>
      More PCRs and ligations were performed this week, including LuxS, LsrACDB, RBS + ACDB, pT7 + RBS +sfGFP, RBS + YdgG, and sfGFP. EcoR1 and Pst1 digests were performed on all of these pieces, and gel results indicate that parts including LsrACDB were problematic. </span>
  </li>
  <img alt="" src="/images/LabJournal/image2.png" >
</ul>
<span class="c1">
  In order to add a layer of confirmation, all of the above parts were sent for sequencing. Following this, more pT7+rbs+sfGFP+pT7+rbs, LsrKTT, and LsrACDBTT were ligated, transformed, and cultured. </span>
<h2 id="week-1">Week 7: 7/4-7/11</h2>
<ul class="c10 lst-kix_7qk7y5hsvdcl-0 start">
  <li class="c5">
    <span class="c1">
      More ligations were performed and gels were run for LsrKTT, LsrACDBTT, PT7 + rbs + sfGFP + pT7 +rbs, a strong RBS, PT7sfGFP, lsrR + rbs +plsr + rbs, B0034, T7 + terminator. The gel shows that we successfully confirmed PT7 + RBS (300 BP) as well as PT7 + rbs + sfGFP + pT7 +rbs. </span>
  </li>
  <img alt="" src="/images/LabJournal/image6.jpg" >
  <li class="c5">
    <span>
      Furthermore, w</span>
    <span class="c1">
      e got colonies on the sfGFP controlled by the constitutive promoter all the colonies were not fluorescing, only a portion of them and hypothesize this could be due to a lack of terminator.</span>
  </li>
  <li class="c5">
    <span class="c1">
      Lastly, we ligated LsrR_rbs_pLsr_rbs_T7_term + pT7_rbs_sfGFP_term in pSB1K3 backbone as well as LuxS, LsrK, and LsrACDB into pSB1k3 backbone and transformed them</span>
  </li>
</ul>

<h2 id="week-8">Week 8: 7/11-7/17</h2>
<ul class="c10 lst-kix_efmgm0am6rmn-0 start">
  <li class="c0">
    <span class="c1">
      We attempted colony PCRs on LsrACDBTT, YdgGTT, LsrKTT, LuxSTT but they were all failures due to the fact that they all had bands at 300 BP on the gel but no other bands, implying that no part was inserted into the plasmid backbone. Hence, we concluded 3A is probably not ideal for such a short ligation. </span>
  </li>
  <li class="c0">
    <span class="c1">
      After multiple unsuccessful 3A ligations, we turned towards GoldenGate. We added GoldenGate primers onto pSB4A5, LsrR_rbs_pLsr_rbs, T7_term, and term(B0015) using PCR and Q5 HF Master Mix with supplemented protocol. Later on, we added GG primers onto LsrK and ran GG reactions to test the success rate.</span>
  </li>
  <li class="c0">
    <span class="c1">
      In order to test for a good low copy plasmid to use in our synthetic quorum sensing system, we transformed DH5alpha cells w/ unmodified pBeloBAC11 backbone to see if this basic transformation attempt is successful. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We also received our first sequencing results for RBS_sfGFP. </span>
  </li>
</ul>

<h2 id="week-9">Week 9: 7/17- 7/24</h2>
<ul class="c10 lst-kix_6mugdnd8368u-0 start">
  <li class="c0">
    <span class="c1">
      Having grown out the pBeloBAC11 transformed bacteria, we ran it on the gel and saw ~2 expected ~3000 BP bands, but also saw other unrelated material. </span>
  </li>
  <img alt="" src="/images/LabJournal/image5.jpg" >
  <li class="c0">
    <span class="c1">
      Concluding our pBeloBAC11 transformation attempt was successful, we decided to miniprep more pBeloBAC11 DNA and so that we can try various methods to remove an undesired restriction site that would interfere with our addition of the 1st plasmid insert. Later on, we tried two different PCR methods (Hans and Koz) to attempt to rid pBeloBAC11 of the unwanted restriction sites and plated the transformed bacteria on cm plates. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Furthermore, we tried to harvest more fluorescent colonies from the LsrR_rbs_pLsr_rbs_T7_term_pT7_rbs_sfgfp plate. Below, the first image is constitutively expressed sfGFP. The second image shows a colony that looks to be fluorescing from the LsrR_rbs_pLsr_rbs_T7_term_pT7_rbs_sfgfp plate.</span>
  </li>
  <img alt="" src="/images/LabJournal/image3.jpg" >
  <li class="c0">
    <span class="c1">
      &nbsp;</span>
  </li>
  <img alt="" src="/images/LabJournal/image9.jpg" >
  <li class="c0">
    <span class="c1">
      Furthermore, we transformed T7 from the kit, ran GG PCR on T7 and B0015, GG on first plasmid. There was noticeable growth observed on pBELOBac11 Hans Method 150 uL on miniprepped pBELOBac11 backbone while low growth observed on pBELOBac11 Hans Method 150 uL on transformed DH5alpha original backbone.</span>
  </li>
</ul>

<h2 id="week-l0">Week 10: 7/24-7/30</h2>
<ul class="c10 lst-kix_xdbxqfhmk1vn-0 start">
  <li class="c0">
    <span class="c1">
      We miniprepped two different versions of modified pBELOBac11 plasmid backbone, but unfortunately got no successful bands on the gel after digesting using PstI.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ordered Golden gate primers for LuxS block, but used NEB GG assembly tool this time </span>
  </li>
  <li class="c0">
    <span class="c1">
      We used 3A assembly to piece together pt7_rbs_sfgfp_term and pt7_rbs_LsrK_term into pSB1K3. Also, we added shrimp alkaline phosphatase (rSAP) to limit the backbone from reannealing.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ligated constitutive promoter-RBS-T7-TT, One Plasmid + pT7-RBS-sfGFP-TT, and LuxS plasmid (using 3A) into pSB1K3. Also, we attempted to PCR pSB1K3. We PCR purified and nanodropped the pSB1K3 reaction and determined that it was a failure.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran &nbsp;PCR to add NEB GG primers for LuxS plasmid construction. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran golden gate reaction on LuxS plasmid to create pT7_rbs_sfGFP_term_pT7_rbs_LuxS_term-pGGA. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We transformed LuxS golden gate plasmid using the NEB competent cells and plated cells using dilution method that NEB protocol recommends. A pU19 plasmid was also plated to act as a control. </span>
  </li>
  <li class="c0">
    <span class="c1">
      The LuxS 3A assembly plate looked to have only one colony that could be useful. There were a lot of red colonies meaning that the backbone never got digest properly. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We transformed the ligations of constitutive promoter-RBS-T7-TT, and One Plasmid + pT7-RBS-sfGFP-TT.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We picked glowing One Plasmid + pT7-RBS-sfGFP-TT colonies to grow over night and restreak. &nbsp;Following this, we ran a gel on LuxS golden gate ligation that was not successful. It seems like only the pt7_rbs_sfgfp_term was inside its original pSB1C3 plasmid. Following this, we digested then ran a gel on pt7_rbs_sfgfp_term to gel extract it and then run GG PCR that way none of the original plasmid would be there. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We grew out constitutive promoter-RBS-T7-TT and LuxS golden gate colonies overnight.</span>
  </li>
</ul>
<h2 id="week-11">Week 11: 7/31-8/6</h2>
<ul class="c10 lst-kix_7c4ari5lyn4i-0 start">
  <li class="c0">
    <span class="c1">
      We completed PCR of pSB1K3, but accidentally left the initial denaturation step on for 7 minutes. Hence, we retried the PCR of pSB1K3 backbone and left o/n in machine. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran GG PCR on pt7_rbs_sfgfp_term then ran a gel to gel extract only that amplified part that way the original backbone would not get in it.</span>
  </li>
  <li class="c0">
    <span class="c1">
      The concentration was better this time; therefore, ran GG using that part and golden ready luxs and pGGA from the earlier golden gate reaction.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran a restriction digest (cut on E|P) on LuxS block, YdgG block, and Lsrk block and then gel extracted those pieces to ligate. This was done to prepare the biobricks that can be shipped off to iGEM HQ.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We digested CFP to confirm insert and test REs as well as digested the IDT part in vector. We ran a gel on the above two digests. Each enzyme cut CFP properly and showed a single band at the proper length (if it is in pSB1C3, if it is in pSB4C5 then there was no insert). The IDT part was actually a re-ligated backbone showing only one bad despite being cut twice.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We transformed the golden gate rxn on the LuxS plasmid using our competent cells.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We planned out Flow Cytometry measurement process and planed to run flow cytometry on pt7_rbs (negative control), pt7_rbs_sfgfp_term (negative control), and constitutive promoter_rbs_sfgfp_term (positive control). Hence, we started overnight cultures on each of these parts.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We mini-prepped GG LuxS O/N culture and ran a single restriction digest on all three samples using PstI. We ran a gel on golden gate LuxS and made a single cut so the resulting length should be ~3820 bp. Lane 5, colony B, seems to be closest to the length. Lane 3 and Lane 7 both seem to a partial digest so some of the uncut plasmid would be supercoiled, traveling farther down the gel. </span>
  </li>
  <img alt="" src="/images/LabJournal/image8.jpg" >
  <li class="c0">
    <span class="c1">
      We transformed the LuxS Plasmid from golden gate using the miniprep result from colony B.pT7_RBS_sfGFP_pT7_RBS_LsrK/YdgG plasmids checked on gel; they were failures. YdgG had nothing but backbone, LsrK had only a band on 1000 and 2000, so likely only sfGFP got in.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We collected flow cytometry data, tested all 10 samples of constitutively expressed sfgfp, tested every other sample of negative control pt7_rbs_sfgfp, and tested one sample of negative control pt7_rbs.</span>
  </li>
</ul>
<h2 id="week-12">Week 12: 8/6-8/13</h2>
<ul class="c10 lst-kix_d6t1o4qnuhus-0 start">
  <li class="c0">
    <span class="c1">
      After multiple attempts to work with pBELOBac11, we confirmed it to be a failure and instead chose to work with Gibson. We performed a Gibson PCR on paCYC but was unsuccessful. We ordered primers to create LuxS, LsrK, and YdgG Plasmids in pSB1A3 using GG assembly method. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We PCR amplified pSB1K3 using Prefix and Suffix Primer Pool(50uL rxn with annealing at 57C and elongation for 1:20) and gel confirmed it. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We PCR amplified LsrR_rbs_pLsr_rbs and LuxS using Prefix and Suffix Primer Pool (50uL rxn with annealing at 57.3C and elongation for 45 seconds) and gel confirmed the LuxS block. </span>
  </li>
  <li class="c0">
    <span class="c1">
      After running a gel on LsrR_rbs_pLsr_rbs, we received three bands. There was one band the right length (~1300 bp). There were two other bands around 500bp. Not exactly sure what these two bands represent.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We performed a gel extraction of pOSIP-KO plasmid, started pE-FLP in overnight culture @ 30&#730;C, and completed W&amp;M experiment 1 up to PCR step. furthermore, we started golden assembly on LuxS, Lsrk, and YdgG plasmid in pSB1A3 and ran PCR on pSB1A3 and sfgfp blocks to add on golden gate primers. Furthermore, we ran PCR on LuxS, Lsrk, and YdgG plasmid blocks to add golden gate primers and performed a gel extraction from sfgfp block from PCR to isolate from DNA template plasmid. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran a golden gate reaction on LuxS, LsrK, YdgG Plasmids(in pSB1A3) (2:1 insert to vector ration used), and transformed using NEB high efficiency competent cells</span>
  </li>
  <li class="c0">
    <span class="c1">
      We PCR amplified LsrR_pLsr using Part Prefix and Part Suffix primers (ordered 8/2). There were multiple wrong bands along with the correct band, so gel extracted the part, then ligated into PSB1C3 and did overnight ligation. Transformations of golden reactions were unsuccessful.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We transformed ligation of LsrRplsr in PSB1C3 and harvested on 8/14</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ordered primers for sequencing 1st plasmid &amp; sfGFP_LuxS and also ordered primers for PCRing those parts with prefix/suffixes.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We reran W&amp;M experiment 1 for reaction C and left in thermocycler O/N after PCR step.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We PCRed pT7-sfGFP-TT with sfgfp Y forward/reverse primers and tried the same method again by both an PCR of pSB1A3 (ydgg) but increased the annealing temperature to 67.5C and a PCR on YdgG block. </span>
  </li>
</ul>
<h2 id="week-13">Week 13: 8/13-8/20</h2>
<ul class="c10 lst-kix_nh97eprhgni1-0 start">
  <li class="c0">
    <span class="c1">
      We ran a gel of LsrRpLsr that showed we likely had a correct part and planned to follow this up by re-transforming (because there is no restreak done) and confirming by sequencing. Furthermore, T7TT was re-PCRed with 59 and 60C. We ran PCR amplification of LsrK and Gel confirmed pcr amplification of LsrK and ran a gel extraction to isolate the piece. We PCR amplified YdgG using new NEB temperatures after the phone call with the company.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We gel extracted the YdgG PCR &nbsp;and performed an E|P digest of pSB1C3, Lsrk PCR amplify, and ydgg PCR amplify. We ligated and transformed Biobrick piece (Lsrk_pSB1C3 &amp; YdgG_pSB1C3). We performed a GG reaction using NEB TM Calculator for pSB1A3 YdgG &amp; LsrK and annealed at 71C for both (only half of the primer is annealing this time)</span>
  </li>
  <li class="c0">
    <span class="c1">
      We grew out colonies of LsrK_pSB1C3 &amp; YdgG_pSB1C3 for miniprep tomorrow and ordered plasmid miniprep kit, pcr extraction kit, and gel extraction kit from Genscript.</span>
  </li>
  <li class="c0">
    <span class="c1">
      W&amp;M Exp 1 final steps completed</span>
  </li>
  <li class="c0">
    <span class="c1">
      We began ligation of lsrACDB, B0015, and pSB1K3.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We miniprepped 8 colonies of C and 8 colonies of LsrK_pSB1C3.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ordered new golden assembly primers for LsrK second plasmid in pGGA but inserted the BsaI sites in the right place. The first creation of LuxS Block_pGGA turns out not to have the insert in the right place since when we created the assembly, the primers were desinged at the beginning and end of the plasmid when in linear form. The plasmid already has bsaI sites at its insert region. This is where we inserted the LsrK Block and sfgfp block this time. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We ent Experiment 1 results to W&amp;M</span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran gel on W&amp;M experiment 2. All four lanes were failures.</span>
  </li>
  <img alt="" src="/images/LabJournal/image7.jpg" >
  <li class="c0">
    <span class="c1">
      We ran a gel on the 8 lsrACDBTT minipreps. All of them appear to be reannealed backbones.</span>
  </li>
  <li class="c0">
    <span class="c1">
      We continued golden assembly for YdgG and LsrK plasmids and ran golden gate pcr on YdgG sfgfp and LsrK sfgfp using neb TM Calculator: Annealed 62C for LsrK sfgfp and 66C for YdgG sfgfp. Restriction digest of LsrK_pSB1C3 and YdgG_pSB1C3 on E|P to confirm they are the right parts. The gel showed that the backbone just reanneal so this means that the ligation was unsuccessful </span>
  </li>
  <li class="c0">
    <span class="c1">
      We received sequencing results for LuxS_pSB1C3 and a failure of &ldquo;No Priming&rdquo; occurred. What was thought to be LsrRpLsr inside PSB1C3 was found to be an incomplete digest of the backbone. A second gel of the digested plasmid confirmed that there is no part in it. This explains why our recent LsrRpLsr gibson PCR have not been working; there was no template in there to start with.</span>
  </li>
</ul>
<h2 id="week-14">Week 14: 8/20-8/27</h2>
<ul class="c10 lst-kix_oscncug2zoho-0 start">
  <li class="c0">
    <span class="c1">
      We checked rest of the LsrRpLsr in PSB1C3; none had the part in it. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We performed goldengate of the first plasmid in pACYC and discovered there were colony growths in the 1st plasmid pACYC goldengate.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Primers for golden gate asssembly of LsrK second plasmid arrived and we performed golden gate pcr on sfgfp block and LsrK block. We gel extracted sfgfp block gg pcr since it is in a cam backbone and pgga is also cam resistant. We ran golden gate reaction on LsrK second plasmid using pGGA plasmid. Several colonies grew of LsrK second plasmid in pGGA. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We Mini Prepped the 9 colonies of O/N cultures of LsrK second plasmid in pGGA and ran a single restriction enzyme digest using PstI on the plasmid. </span>
  </li>
  <li class="c0">
    <span class="c1">
      We ran a gel on the digest. The gel was successful. The bands of colony 6 &amp; 8 were most promising with bands around the 4800-5000 mark and the actual length is ~4850</span>
  </li>
  <li class="c0">
    <span>
      Also first plasmid was seemingly made, but gel quality was too bad to clearly interpret.</span>
  </li>
</ul>
<h2 id="week-15">Week 15: 8/27-9/3</h2>
<ul class="c10 lst-kix_yaxt73g2plox-0 start">
  <li class="c0">
    <span class="c1">
      Transformed colony 6 and 8 of LsrK second plasmid</span>
  </li>
  <li class="c0">
    <span class="c1">
      Double plasmid transformation of colony 6 of LsrK second plasmid and colony of first plasmid inside pACYC. Created a plate by spreading tetracycline and chloramphenicol on a non antibiotic plate. </span>
  </li>
  <li class="c6">
    <span class="c1">
      Ran digests on 9 different samples including 4 minipreps of different first plasmid colonies cut with 2 restriction enzymes, the same 4 minipreps uncut as a control, and a single cut as a one-cut control as well as helped with ordering primers for the second plasmid.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Ordered primers for LuxS second plasmid and YdgG second plasmid in pGGA for golden gate assembly using NEB GG tool</span>
  </li>
  <li class="c0">
    <span class="c1">
      Plated the UMd shipments: W3110, pCT6, pCT6+sfGFP, pCT6+sfGFP+LsrK, pCT6+sfGFP+LsrACDB</span>
  </li>
  <li class="c0">
    <span class="c1">
      Colonies showed up on transformations of LsrK second plasmid and double transformation of pACYC first plasmid + LsrK second plasmid</span>
  </li>
  <li class="c0">
    <span class="c1">
      Ran golden pcr on Y sfgfp block, Lx sfgfp block, and YdgG Y block </span>
  </li>
  <li class="c6">
    <span class="c1">
      Picked up an IDT order, &nbsp;diluted 16 primer stocks into both original and working stocks of 200 uM and 10 uM, helped prepare and mix chemicals required for competent cell buffer such PIPES Disodium salt, restreaked 8 plates of PCT-6 bacteria because the original plates were bad because individual colonies could not be discerned, streaked 5 plates of the first plasmid on different antibiotics in order to do an additional confirmation of the plasmid&rsquo;s &nbsp;functionability, and ran a PCR for the first plasmid so Nick can use the insert for his clontegration side-project.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Created 500mL of LB in 2800mL flask in preparation to make W3110 Bently lab cells competent </span>
  </li>
  <li class="c0">
    <span class="c1">
      Ran golden gate pcr on LuxS Lx block</span>
  </li>
  <li class="c6">
    <span class="c1">
      Restreaked a lot of plates that still had too many colonies in it, including Bentley plates as well as the first plasmid.</span>
  </li>
  <li class="c6">
    <span class="c1">
      Grew out 4 colonies of first plasmid from two different plates since we were running low on miniprepped first plasmid DNA stock, helped Nick finish his clontegration digestion of insert and subsequent ligation, and retried the PCR for Nick&rsquo;s clontegration piece because the gel showed the amplified insert was closer to 3000 BP than 4300 BP. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Gel extraction of Y sfgfp block and Lx sfgfp block for golden gate assembly</span>
  </li>
  <li class="c0">
    <span class="c1">
      Golden Gate assembly reaction of LuxS second Plasmid and YdgG second Plasmid</span>
  </li>
  <li class="c0">
    <span class="c1">
      Reconfirmed the gel of 1st plasmid, and it showed that it is probably not the full 1st plasmid The PCR is about 1000bp short, and even with the gel Dylan took picture of on 8/29, the overall size of the plasmid is 500-1000 bp short. Will be redoing the goldengate.</span>
  </li>
</ul>
<h2 id="week-16">Week 16: 9/3-9/10</h2>
<ul class="c10 lst-kix_ih7ueqo79ymw-0 start">
  <li class="c0">
    <span class="c1">
      Created O/N cultures for FC prep of W3110, Const. Promoter_rbs_sfgfo, pCT6, pCT6 + pET_GFP, pCT6 + pET_sfgfp_LsrK, pCT6 + pET_sfgfp_LsrACDB</span>
  </li>
  <li class="c6">
    <span class="c1">
      Did a miniprep of the 1st plasmid. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed LuxS and YdgG second plasmids</span>
  </li>
  <li class="c0">
    <span class="c1">
      Collected FC samples for 6 hours every 1 hour following FC measurement protocol in the Virginia Handbook of the O/N cultures created yesterday</span>
  </li>
  <li class="c0">
    <span class="c1">
      Due to our fear that the first plasmid may be defective, I reran all the GoldenGate PCRs for the 4 individual parts and created a gel such that Kevin could do an extraction of the pACYC GoldenGate backbone.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformations of LuxS and YdgG second plasmids were successful...several colonies on all plates</span>
  </li>
</ul>
<ul class="c10 lst-kix_ih7ueqo79ymw-1 start">
  <li class="c5">
    <span class="c1">
      Grew out O/N cultures of 6 colonies from each LuxS second plasmid plate and YdgG second plasmid plate</span>
  </li>
</ul>
<ul class="c10 lst-kix_ih7ueqo79ymw-0">
  <li class="c0">
    <span class="c1">
      Miniprepped cultures of LuxS and YdgG second plasmid: 6 each, 12 total</span>
  </li>
  <li class="c6">
    <span class="c1">
      Miniprepped another sample of the 1st plasmid for sequencing&rsquo;s sake, PCR purified Goldengate B0015 and T7, reran the LsrRpLsr Goldengate and ran a gel to confirm its length, and grew out more 1st plasmid colonies. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Redid PCR to prepare GG of 1st plasmid. Ligation ready tomorrow.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Prepared culture of 1st plasmid(which seems to be not the correct size, mentioned 9/3)</span>
  </li>
  <li class="c0">
    <span class="c1">
      Miniprepped culture of 1st plasmid for sequencing</span>
  </li>
  <li class="c6">
    <span class="c1">
      Gel extracted Goldengate LsrRpLsr and gel purified it, performed the ligation of the first plasmid as part of the second attempt, and transformed and plated the re-attempted first plasmid bacteria. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Ligated and transformed 1st plasmid GG again</span>
  </li>
  <li class="c6">
    <span class="c1">
      Ran 6 different PCRs for the second plasmid and grew out several colonies for the retried first plasmid.</span>
  </li>
  <li class="c6">
    <span class="c1">
      Miniprepped 10 different colonies for the retried first plasmid, nanodropped them, did digests on them, gel analyzed them, restreaked 2 that were good, and retried Nick&rsquo;s clonetegration PCR in case those 2 templates are good. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Ligated and transformed 2nd plasmids; LsrK_LuxS, LsrK_YdgG.</span>
  </li>
  <li class="c0">
    <span class="c1">
      1st plasmid was checked on gel, both cut with X&amp;P and PCRed. Both gels looks like it&rsquo;s the right size. Ready for sequencing.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out culture of pCT6 W3110 and 1st plasmid.</span>
  </li>
  <li class="c6">
    <span class="c1">
      Ran a gel on the PCR amplified inserts of 1st plasmid colonies 4 and 8, gel extracted PCR product from 4 since it was the correct length, and reran a 50 uL reaction only only on 4 since Nick may need more for clonetegration, and gel extracted that too. </span>
  </li>
</ul>
<h2 id="week-17">Week 17: 9/10-9/17</h2>
<ul class="c10 lst-kix_5w2qu9v71zkv-0 start">
  <li class="c0">
    <span class="c1">
      Miniprepped pCT6. Also miniprepped 1st plasmid for sequencing</span>
  </li>
  <li class="c0">
    <span class="c1">
      Ordered primers for sequencing LsrK_LuxS and LsrK_Ydgg, and for goldengate reaction of LsrK_LuxS_YdgG.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out culture of LsrK_LuxS &amp; LsrK_YdgG</span>
  </li>
</ul>
<ul class="c10 lst-kix_2dnhxzc2diwy-0 start">
  <li class="c0">
    <span class="c1">
      Prepared two overnight cultures for W3110 pCT6, one from each plate.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Put restreaks into incubator next to fridge</span>
  </li>
  <li class="c0">
    <span class="c1">
      Put overnight culture in back of incubator/shaker thing</span>
  </li>
  <li class="c0">
    <span class="c1">
      Completed W3110 competent cells</span>
  </li>
  <li class="c0">
    <span class="c1">
      Digested LuxS and YdgG second plasmids with a single restriction enzyme digest using PstI </span>
  </li>
  <li class="c0">
    <span class="c1">
      Gel Confirmed both parts. Lane F for LuxS was a success and Lanes A and B for YdgG were successes </span>
  </li>
  <li class="c0">
    <span class="c1">
      Confirmed LsrK second plasmid sequence with the sequencing resultsLsrK_LuxS and LsrK_YdgG showed bad results on gel; none were at correct size, and a lot seemed to be incomplete digests. Will redigest and gel it.</span>
  </li>
  <li class="c0">
    <span>
      Assessed transformation efficiency of W3110 competent cells. Efficiency was on the order of 10</span>
    <span class="c9">
      3</span>
  </li>
  <img alt="" src="/images/LabJournal/image10.png" >
  <li class="c0">
    <span class="c1">
      Double transformed 1st plasmid + Lsrk Second Plasmid (tetra+chloro); 1st plasmid + YdgG Second Plasmid (tetra+chloro); 1st plasmid + LuxS Second Plasmid (tetra+chloro); 1st Plasmid + sfGFP (tetra+chloro); pCT6 + LsrK 2nd Plasmid (amp+chloro); Negative Control of W3110 (Plated on Tetra &amp; Chloro) </span>
  </li>
  <li class="c0">
    <span class="c1">
      Made more Tetracycline + Chloro Plates</span>
  </li>
  <li class="c0">
    <span class="c1">
      PCRed LsrK_LuxS_YdgG 2nd plasmid goldengate parts, gel confirmed the lengths. Ready for ligation tomorrow.</span>
  </li>
  <li class="c0">
    <span class="c1">
      All double transformation failed except 1st plasmid+sfGFP. Grew out culture of that.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Redid transformation of 1st plasmid + LsrK/LuxS/YdgG/LsrK_LuxS/LsrK_YdgG</span>
  </li>
  <li class="c0">
    <span class="c1">
      Restreaked the good LuxS and YdgG 2nd plasmids, labeled F and A respectively</span>
  </li>
  <li class="c0">
    <span class="c1">
      Mini Prepped 1st plassmid + sfgfp block (this was glowing green so YAY) and 3 colonies of 1st plasmid so that we could increase our dna stock for it. </span>
  </li>
</ul>
<ul class="c10 lst-kix_2dnhxzc2diwy-1 start">
  <li class="c5">
    <span class="c1">
      Needs to be nano dropped though </span>
  </li>
</ul>
<ul class="c10 lst-kix_2dnhxzc2diwy-0">
  <li class="c0">
    <span class="c1">
      1st plasmid + sfgfp block was restreaked. This needs to be grown out for every FC test since it will be our negative control </span>
  </li>
  <li class="c0">
    <span class="c1">
      Double transformations of 1st plasmid + Lsrk_YdgG second plasmid, 1st Plasmid + LuxS second plasmid, and 1st plasmid + YdgG in W3110 were all successful. </span>
  </li>
</ul>
<ul class="c10 lst-kix_2dnhxzc2diwy-1 start">
  <li class="c5">
    <span class="c1">
      O/N culture started for miniprep tomorrow for verification </span>
  </li>
</ul>
<ul class="c10 lst-kix_2dnhxzc2diwy-0">
  <li class="c0">
    <span class="c1">
      Double transformations of 1st plasmid + Lsrk second plasmid and 1st plasmid + LsrK_LuxS in W3110 were NOT successful. </span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed sfGFP_LsrK_LuxS_YdgG 2nd plasmid.</span>
  </li>
  <li class="c0">
    <span class="c1">
      Mini Prepped 1st plasmid + YdgG second plasmid, 1st plasmid + LuxS second plasmid, and 1st plasmid + LsrK_YdgG second plasmid </span>
  </li>
  <li class="c0">
    <span class="c1">
      Made Tetra+Chloro plates </span>
  </li>
  <li class="c0">
    <span class="c1">
      Grow out 5mL O/N culture of 1st plasmid + YdgG second plasmid, 1st plasmid + LuxS second plasmid, 1st plasmid + LsrK_YdgG second plasmid, and 1st plassmid + sfgfp block for FC testing</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out cultures of LsrK_LuxS_YdgG for miniprep and check on gel</span>
  </li>
</ul>
<h2 id="week-18">Week 18: 9/17-9/24</h2>
<ul class="c10 lst-kix_acgavte3xw6u-0 start">
  <li class="c0">
    <span class="c1">
      Prepped FC samples (ones prepped are mentioned in 09/17 entry). Sequencing for 1st plasmid sent out; results today or tmr. FC of pt7_sfGFPTT, LuxS/LsrK_YdgG/Ydgg 2nd plasmids done, from time = 0 to 6 hours. However, the 2nd plasmids had very low expression&hellip;</span>
  </li>
  <li class="c0">
    <span class="c1">
      Started biobrick construction of 1st Plasmid in pSB1C3</span>
  </li>
</ul>
<ul class="c10 lst-kix_acgavte3xw6u-1 start">
  <li class="c5">
    <span class="c1">
      Digest first plasmid pcr insert (from nick&rsquo;s rack) with E|P</span>
  </li>
  <li class="c5">
    <span class="c1">
      Digested pSB1C3 (268ng/uL one in parts inventory box) with E|P and shrimped it (after the heat inactiviation of the enzymes)</span>
  </li>
</ul>
<ul class="c10 lst-kix_acgavte3xw6u-0">
  <li class="c0">
    <span class="c1">
      Transformed 1st plasmid + LsrK 2nd plasmid; 1st plasmid + LsrK_LuxS 2nd plasmid; 1st plasmid + LuxS 2nd plasmid; 1st plasmid + sfGFP block in BL-21 cells </span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed pT7_rbs_sfgfp in DH5-alpha </span>
  </li>
</ul>
<ul class="c10 lst-kix_acgavte3xw6u-1 start">
  <li class="c5">
    <span class="c1">
      Running low on stock </span>
  </li>
</ul>
<h2 id="week-19">Week 19: 9/24-9/30</h2>
<ul class="c10 lst-kix_ek0bnwmjd44n-0 start">
  <li class="c0">
    <span class="c1">
      All BL-21 cell transformations were unsuccessful </span>
  </li>
  <li class="c0">
    <span class="c1">
      Ligated pSB1C3 and first plasmid insert</span>
  </li>
  <li class="c0">
    <span class="c1">
      Planning:</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-1 start">
  <li class="c5">
    <span class="c1">
      Need to transform all second plasmid constructs in DH5-alpha</span>
  </li>
  <li class="c5">
    <span class="c1">
      Collect growth data over time to ensure that plasmids are not altering growth of bacteria (compare this to Zargar results)</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-2 start">
  <li class="c7 c11">
    <span class="c1">
      This also needs to be done in W3110 cells (well atleast the ones that successfully get transformed atleast) in order to match Zargar figure </span>
  </li>
  <li class="c7 c11">
    <span class="c1">
      This can be collected after cells are diluted from O/N culture for flow cytometry</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-0">
  <li class="c0">
    <span class="c1">
      Transforming 1st plasmid + LuxS, 1st Plasmid + LsrK, 1st Plasmid + YdgG, 1st Plasmid + LsrK_LuxS, 1st Plasmid + LsrK_YdgG in DH5-alpha</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed 1st Plasmid Insert_pSB1C3 in DH5-alpha</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out O/N of pt7_rbs_sfgfp_term for miniprep tomorrow </span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-1 start">
  <li class="c5">
    <span class="c1">
      Grew out 2 colonies just to have more stock </span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-0">
  <li class="c0">
    <span class="c1">
      Grew out 1st plasmid + LuxS, 1st Plasmid + LsrK, 1st Plasmid + YdgG, 1st Plasmid + LsrK_LuxS, 1st Plasmid + LsrK_YdgG in DH5-alpha</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out 1st Plasmid Insert_pSB1C3 in DH5-alpha</span>
  </li>
  <li class="c0">
    <span class="c1">
      Miniprepped pt7_rbs_sfgfp_term</span>
  </li>
  <li class="c0">
    <span class="c1">
      O/N cultures of one of the first plasmid biobrick colony and 1st Plasmid + Lsrk_YdgG 2nd plasmid colony did not grow </span>
  </li>
  <li class="c0">
    <span class="c1">
      Digested 1st plasmid + LuxS, 1st Plasmid + LsrK, 1st Plasmid + YdgG and 1st Plasmid + LsrK_LuxS with EcoRI-HF to gel confirm </span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-1 start">
  <li class="c5">
    <span class="c1">
      All parts are gel confirmed</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-0">
  <li class="c0">
    <span class="c1">
      Digested first plasmid insert biobrick with E|P</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-1 start">
  <li class="c5">
    <span class="c1">
      Gel was not successful. Backbone just re-annealed</span>
  </li>
</ul>
<ul class="c10 lst-kix_ek0bnwmjd44n-0">
  <li class="c0">
    <span class="c1">
      Grew out O/N of 1st plasmid + LuxS, 1st Plasmid + LsrK, 1st Plasmid + YdgG, 1st Plasmid + LsrK_LuxS, 1st Plasmid + sfGFP block, and 1st plasmid (negative control) for FC. All constructs are in DH5alpha</span>
  </li>
  <li class="c0">
    <span class="c1">
      Biobrick ydgg, 1st plasmid and ????</span>
  </li>
  <li class="c0">
    <span class="c1">
      Prepped samples for FC</span>
  </li>
</ul>
<h2 id="week-20">Week 20: 9/30-10/7</h2>
<ul class="c10 lst-kix_ubmnkhjd614n-0 start">
  <li class="c0">
    <span class="c1">
      Grew out LsrK_YdgG, LsrK_LuxS, LuxS, YdgG 2nd plasmids for sequencing</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed LLY 2nd plasmid that seems to be correct length</span>
  </li>
  <li class="c0">
    <span class="c1">
      Did flow</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed biobrick ligations of YdgG, 1st plasmid insert, and LsrK.</span>
  </li>
  <li class="c0">
    <span class="c1">
      PCRed and added prefix and suffix to LsrK_YdgG, LsrK_LuxS, LuxS, YdgG, LsrK_LuxS_YdgG 2nd plasmids; must gel extract and then ligate into PSB1C3 for biobrick</span>
  </li>
  <li class="c0">
    <span class="c1">
      Prepared goldengate ligation for LuxS_YdgG 2nd plasmid</span>
  </li>
  <li class="c0">
    <span class="c1">
      Miniprepped 10 first plasmid BB attempts</span>
  </li>
  <li class="c0">
    <span class="c1">
      Ran gel but forgot to digest</span>
  </li>
  <li class="c0">
    <span class="c1">
      Nanodropped miniprepped 1st plasmid bb attempts</span>
  </li>
  <li class="c0">
    <span class="c1">
      Searched for, but could not find LuxS BB</span>
  </li>
  <li class="c0">
    <span class="c1">
      Digested and ran gel on 10 first plasmid BB attempts</span>
  </li>
  <li class="c0">
    <span class="c1">
      Grew out pCT6, YdgG BB attempt, and LskR (?) BB attempt</span>
  </li>
</ul>
<h2 id="week-21">Week 21: 10/7-10/14</h2>
<ul class="c10 lst-kix_3j29wgv0pdfw-0 start">
  <li class="c0">
    <span class="c1">
      Retried ligation of 1st plasmid into psb1c3</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed above ligation into DH5-a</span>
  </li>
  <li class="c0">
    <span class="c1">
      Transformed LsrK_YdgG, LsrK_LuxS, YdgG, LsrK_LuxS_YdgG 2nd plasmids ligated into biobricks(PSB1C3)</span>
  </li>
  <li class="c0">
    <span class="c1">
      Did goldengate/transform of LuxS_YdgG 2nd plasmid</span>
  </li>
  <li class="c0">
    <span class="c1">
      Made a lot of biobricks: all failed, but LsrK_LuxS_YdgG 2nd plasmid biobrick was a success and sent</span>
  </li>
  <li class="c0">
    <span class="c1">
      Checked LuxS_YdgG 2nd plasmid goldengate; transformed 1st plasmid or pCT6 with 2nd plasmids, for flow on Friday</span>
  </li>
</ul>
