<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <style>
     #va-toc ul > li {
       font-size: 0.9em;
     }
    </style>
  </head>

  <body>
		{{> igem_placeholder}}

    {{> header}}
    {{> banner_project}}
    {{> main}}
    {{> footer}}
  </body>
</html>
