<!DOCTYPE html>
<html>
<head>
  <!--Use of handlebars for easy code reuse-->
  {{> head}}
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  {{> navbar}}
    <!--Gutter for timeline-->
    <div id="timeline" class="template">
      {{> timeline}}
    </div> 
  <div id="main" class="top">
      <!--Images-->
    {{> contentsub}}
    <!--Gutter for images-->
    <div id="image" class="template">
      <h1>Images</h1>
    </div>


    <div id="media">
      <div class="petri-dish">

      </div>
      <!--Content and text-->
    </div>
  </div>

<!--
  <div class="category-gallery">
    <div>
      <a class="internal" href="/pages/Team.html">
        <img src="images/vgem-logo.png" alt="Team">
        <p><strong>Team</strong></p>
      </a>
    </div>
    <div>
      <a class="internal" href="/pages/Description.html">
        <img src="images/vgem-logo.png" alt="Project">
        <p><strong>Project</strong></p>   
      </a>
    </div>
    <div>
      <a class="internal" href="/pages/Parts.html">
        <img src="images/vgem-logo.png" alt="Parts">
        <p><strong>Parts</strong></p>
      </a>
    </div>
    <div>
      <a class="internal" href="/pages/Safety.html">
        <img src="images/vgem-logo.png" alt="Safety">
        <p><strong>Safety</strong></p>
      </a>
    </div>
    <div>
      <a class="internal" href="/pages/Human_Practices.html">
        <img src="images/vgem-logo.png" alt="Human Practices">
        <p><strong>Human Practices</strong></p>
      </a>
    </div>
    <div>
      <a class="internal" href="/pages/Awards.html">
        <img src="images/vgem-logo.png" alt="Awards">
        <p><strong>Awards</strong></p>
      </a>
    </div>
  </div>
-->

  {{> footer}}
</body>
</html>

