<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body>
    {{> igem_placeholder}}
    <main id="top" class="landing-page"></main>
    <script>
        $(function() {
        $('main.landing-page').load('{{contentpath}}');
        });
    </script>
  </body>
</html>
