<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body>
		{{> igem_placeholder}}

    {{> header}}
    {{> main}}
	{{> InterLabFPP1}}
	{{> InterLabFPP2}}
	{{> InterLabFPP3}}
    {{> footer}}
  </body>
</html>