<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body>
    {{> igem_placeholder}}
    {{> header}}
    {{> banner_project}}
    <main id="top">
      <div class="gutter"></div>
      <article class="main-content">
        {{> InterLabFPP1}}
        {{> InterLabFPP2}}
        {{> InterLabFPP3}}
      </article>
      <div class="gutter"></div>
    </main>
    {{> footer}}
  </body>
</html>
