<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    {{> WetlabJournalStyles}}
  </head>

  <body>
    {{> igem_placeholder}}

    {{> header}}
    {{> main-notebook}}
    {{> footer}}
  </body>
</html>
