<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    {{> WetlabJournalStyles}}
    <style>
     .main-content img {
       display: block !important;
       float: none !important;
       max-width: 50% !important;
       margin-left: auto !important;
       margin-right: auto !important;
     }
    </style>
  </head>

  <body>
    {{> igem_placeholder}}

    {{> header}}
    {{> banner_project}}
    {{> main-notebook}}
    {{> footer}}
  </body>
</html>
