<!DOCTYPE html>
<html>
  <head>
    {{> head}}
                <style>
     .main-content figure {
         max-width: 100% !important;
         min-width: 100% !important;
         margin: 1em auto !important;
       display: block;
       }
     .main-content img {
         max-width: 90% !important;
         min-width: 10% !important;
         margin: 1em auto !important;
       //max-height: 20vh;
       display: block;
       float: none !important;
       }
    </style>
  </head>

  <body>
		{{> igem_placeholder}}

    {{> header}}
    {{> banner_project}}
    {{> main}}
    {{> footer}}
  </body>
</html>
