<!DOCTYPE html>
<html>
<head>
  <!--Use of handlebars for easy code reuse-->
  {{> head}}
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    {{> navbar}}
    <div id="thirds-grid">
      <!--Gutter for timeline-->
    <div id="thirds-grid__timeline" class="template">
      {{> timeline}}
    </div> 
    <div id="thirds-grid__content" class="template">
        <!--Content-->
        <div id="image_gallery" class="template">
          {{> contentsub}}
        </div>
    </div>
      <!--Gutter for images-->
    <div id="thirds-grid__images" class="template">
      <h1>Images</h1>

    </div>

  <div id="thirds-grid__footer" class="template">
    {{> footer}}
  </div>
  </div> 
</body>
</html>

