<!DOCTYPE html>
<html>
<head>
  <!--Use of handlebars for easy code reuse-->
  {{> head}}
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    {{> navbar}}
    <div id="thirds-grid">
      <!--Gutter for timeline-->
    <div id="thirds-grid__timeline" class="template">
      {{> timeline}}
    </div> 
    <div id="thirds-grid__content" class="template">
        <!--Content-->
          {{> contentsub}}
    </div>
      <!--Gutter for images-->
    <div id="thirds-grid__images" class="template">
      <h1>Images</h1>
      <div id="2018Ngozi" class="hidden-box">
        <p>Ngozi Akingbesote</p>
        <p>Human Biology 2020</p>
      </div>
      <div id="2018Dylan" class="hidden-box">
        <p>Dylan Culfogienis</p>
        <p>Engineering Science 2020</p>
      </div>
      <div id="2018Nir" class="hidden-box">
        <p>Nir Diskin</p>
        <p>Biomedical Engineering 2021</p>
      </div>
      <div id="2018Will" class="hidden-box">
        <p>William Huang</p>
        <p>Biology & Biochemistry Minor 2021</p>
      </div>
      <div id="2018Paul" class="hidden-box">
        <p>Paul Imbrogulio</p>
        <p>Chemical Engineering 2021</p>
      </div>
      <div id="2018Joseph" class="hidden-box">
        <p>Joseph Outten</p>
        <p>Biology & Computer Science 2020</p>
      </div>
      <div id="2018Nick" class="hidden-box">
        <p>Nick Marotta</p>
        <p>Biology 2019</p>
      </div>
      <div id="2018Kevin" class="hidden-box">
        <p>Kevin Park</p>
        <p>Biology 2019</p>
      </div>
      <div id="2018Ryan" class="hidden-box">
        <p>Ryan</p>
        <p>Physics & Biomedical Engineering Minor 2020</p>
      </div>
      <div id="2018Vignesh" class="hidden-box">
        <p>Vignesh Valaboju</p>
        <p>Biomedical Engineering 2021</p>
      </div>
      <div id="2018Grace" class="hidden-box">
        <p>Grace Wu</p>
        <p>Computer Science 2020</p>
      </div>
      <div id="2018Angela" class="hidden-box">
        <p>Angela Yi</p>
        <p>Systems Engineering 2020</p>
      </div>            
    </div>

  <div id="thirds-grid__footer" class="template">
    {{> footer}}
  </div>
  </div> 
</body>
</html>

